body{
    box-sizing: border-box;
    text-align: center;
    background-color: GhostWhite;
}
#root p{
    width: 300px;
    height: 100px;
    overflow-wrap: break-word;
    padding: 50px;
    border: 1px solid black;
   

}