body{
    text-align: center;
    background-color: GhostWhite;
}

.header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .all-posts p{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    overflow-wrap: break-word;
    padding: 50px;
    border: 2px solid black;
}

input[type=button], input[type=submit]{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 14px;
    width: 10%;
    font-weight: bold;
    font-family: "Open Sans";
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2%;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
    opacity: 1
}

small{
    white-space: pre;
}

.footer {
    background-color: white;
    padding: 40px;
    text-align: center;
  }